API_ID=请填入你的API_ID
API_HASH=请填入你的API_HASH

# --- [Bot A] tgporncopilot 配置 ---
# (管辖范围：极品捆绑、精品捆绑、整理、约_较少捆绑中精品)
BOT_TOKEN=原版首发BotToken
SOURCE_CHANNELS=-5011841156,-5217210906
TARGET_GROUP_ID=主同步库ID

# --- [Bot B] my_porn_private_bot 配置 ---
# (管辖范围：较少捆绑AV_实拍_定制、未分组、已归档、杂文件)
MY_PORN_PRIVATE_BOT_TOKEN=第二个BotToken
MY_PORN_PRIVATE_BOT_SOURCE_CHANNELS=频道列表如果需要的话列这里
MY_PORN_PRIVATE_BOT_TARGET_GROUP_ID=副同步私密群ID

# --- 全局公共配置 ---
ADMIN_USER_ID=你的管理员数字ID
